*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  list-style: none; 
  text-decoration: none;
}

:root {
    --clr-default: #4E787C;
    --clr-nav-default: darkgrey;
    --clr-light: #f1f5f9;
    --clr-navbar: #C1BEBE;
    --clr-text_color: #FFFFFF;
    --clr-text_color_dark: #000;
    --clr-light_green: #92BDA4;
    --clr-button_green: #4A9168;

    --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    word-spacing: 1.4px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

section {
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;

}

/* PROFIL */
.profilContainer{
    width: 350px;
    height: auto;
    border-radius:15px;
    background-color: var(--clr-default);

    padding: 10px;
    position: relative;
    align-items: center;

    margin-bottom: 100px;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: var(--shadow);
}

.profilInfo{
    display: grid;

    justify-content: left;
    justify-items: center;
    align-items: center;

    border-radius: 15px;

    font-weight: 300;
    font-size: 0.8rem;
    color: var(--clr-text_color);
}


.profilInfo h3{
  justify-self: left;
  padding: 2px;

}

#velgPunkt{
  padding: 10px;
  text-decoration: underline;
}

/* AVFALLSPUNKT*/
.avfallContainer{
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    grid-gap: 1em;
    position: relative;
    margin-bottom: 10px;
}

.avfallspunkt{
    width: 350px;
    height: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius:15px;
    border: none;
    background-color: var(--clr-light_green);
    color: var(--clr-text_color_dark);

    padding: 20px;

    font-weight: 300;
    font-size: 1rem;
    text-align: left;
}

.avfallContainer ul li{
    margin: 10px;
}

.avfallspunkt img{
  width: 105px;
  border-radius: 15px;
  padding: 10px;
  justify-self: top;
}

.avfallspunkt .avfallInfo{
  grid-column: 2 / 4;
}

.punkt{
  font-weight: 300;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}


/* NAVIGATION */

.wrapper{
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-default);
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;

  border-radius: 15px 15px 0 0;

}

.wrapper .hjemKnapp{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--clr-default);
    color: var(--clr-text_color);
    text-align: center;
    grid-column-start: 1;
    border: none;
    font-size: 16px;
    border-radius: 15px 15px 0 0;
}

/*Scanne vare*/
#interactive {
  position: relative;
  width: 350px;
  margin: 44px auto 10px auto;
  border-radius: 5px;

}
#video {
  width: 350px;
}
#result {
  position: relative;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 16px;
}

.viewport {
    position: relative;
}
.drawingBuffer{
    /*width: 350px;
    height: 50px; */

    position: absolute;
    top: 0;
    left: 0;
}

#resultHeader{
  position: relative;
  font-size: 24px;
  text-align: center;
  margin: 30px auto 0px auto;
}

.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

}

#scannVare{
  text-align: center;
}

#scannVare input,
#scannVare button{
  display: block;
  margin: 0px auto 10px auto;
  align-items: center;
  box-shadow: var(--shadow);
}

#scannVare input{
  width: 300px;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;

  color: var(--clr-text_color_dark);
  background-color: var(--clr-light_green);
}

#scannVare button{
  border:none;
  border-radius: 15px;
  margin: 30px auto 0px auto;

  width: auto;
  height: auto;
  padding: 20px;

  background-color: var(--clr-button_green);
  color: var(--clr-text_color)
}

/*Legg til ny vare*/
#leggTilNyVare{
  margin-top: 15px;
  text-align: center;
}

#leggTilNyVare input,
#leggTilNyVare button{
  display: block;
  margin: 0px auto 10px auto;
  align-items: center;
}

#leggTilNyVare input{
  width: 300px;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;

  color: var(--clr-text_color_dark);
  background-color: var(--clr-light_green);
  box-shadow: var(--shadow);
}

#leggTilNyVare button{
  border:none;
  border-radius: 15px;
  margin: 30px auto 0px auto;

  width: auto;
  height: auto;
  padding: 20px;
  box-shadow: var(--shadow);
  background-color: var(--clr-button_green);
  color: var(--clr-text_color)
}

/*Login Form*/
#logoImg{
    display: flex;
}

#logoImg img{
    width: 300px;
    margin: 10px auto 0px auto;
}

#loginForm{
  margin-top: 15px;
  text-align: center;
}

#loginForm input,
#loginForm button{
  display: block;
  margin: 0px auto 10px auto;
  align-items: center;
}

#loginForm input{
  width: 300px;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;

  color: var(--clr-text_color_dark);
  background-color: var(--clr-light_green);
  box-shadow: var(--shadow);
}

#loginForm button{
  border:none;
  border-radius: 15px;
  margin: 30px auto 15px auto;

  width: auto;
  height: auto;
  padding: 20px;
  box-shadow: var(--shadow);
  background-color: var(--clr-button_green);
  color: var(--clr-text_color)
}


