<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="HTML, CSS" />
  <meta name="description" content="" />
  <title>Login</title>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
  />
  <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
        }
        form input, form button {
            margin-bottom: 10px;
        }
        .signup-link {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<form th:action="@{/login}" method="post">
  <input type="text" name="email" placeholder="@E-POST" required/>
  <input type="password" name="password"  placeholder="PASSORD" required/>
  <a href="#" style="margin-bottom: 10px;">Glemt passord?</a>
  <button type="submit">Logg inn</button>
  <div class="signup-link">
    <span>Ikke bruker? </span><a th:href="@{/register/new}">Bli med nå</a>
  </div>
</form>
</body>
</html>
